body {
    font-family: 'Roboto', sans-serif;
}

.light {
  font-weight: 300;
}

.jumbotron{
	background: none;
	max-width:800px;

}
.navbar{
	margin-top: 60px;
}

.navbar-nav {
	padding-left: 80px;
}

.navbar-nav > li{
  padding-right:50px;
}


@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}

.gradient_bg {
	position: absolute;
 	height: 300px;
 	z-index:-1;
}

#gradient_a {
	top:0;
	transform-origin: 100% 0;
	width: 60%;
	right: 0px;
	background: linear-gradient(to left,  #f2f2f2, white);
}

#gradient_b { 
	transform-origin: 100% 0;
	width: 100%;
	top:200px;
	background: linear-gradient(to right,  #e9e9e9, white);
}